* {
	font-family: 'Open Sans', sans-serif;
	color: black;
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeScaleIn {
	from {
		opacity: 0;
		transform: scale(0.5);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

body {
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;
	opacity: 0;

	animation-name: fadeIn;
	animation-duration: .5s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	animation-delay: .1s;
}

header {
	background-color: #FFF;
	padding: 0.4em 2em;
	height: 5em;
}

header>h1 {
	font-weight: bolder;
	font-size: 2em;
	margin: 0.67em 0;
}

nav {
	padding: 0.8em 1.4em;
	background-color: #FFF;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

nav>span {
	display: inline-block;
	padding: 0 0.6em;
	font-weight: bold;
	cursor: pointer;

	-moz-transition: color .25s;
	-o-transition: color .25s;
	-webkit-transition: color .25s;
	transition: color .25s;
}

nav>span:hover {
	color: #2A8843;
}

main {
	display: block;
}

img {
	max-width: 100%;
	max-height: 100%;
}

button {
	background-color: transparent;
	border-radius: 0.25em;
	padding: 0.4em 0.8em;
	font-size: 0.9em;
	cursor: pointer;

	-moz-transition: color .25s, background-color .25s, border .25s, filter .25s;
	-o-transition: color .25s, background-color .25s, border .25s, filter .25s;
	-webkit-transition: color .25s, background-color .25s, border .25s, filter .25s;
	transition: color .25s, background-color .25s, border .25s, filter .25s;
}

button:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

button.outline {
	border: 1px solid currentColor;
}

button.outline:hover {
	filter: opacity(0.8);
}

.indented {
	display: none;
}

.row {
	overflow: hidden;
	white-space: nowrap;
}

.row>* {
	display: inline-block;
	position: relative;
	break-inside: avoid;
}

.row>*:nth-child(2) {
	animation-delay: 0.1s;
}
.row>*:nth-child(3) {
	animation-delay: 0.2s;
}
.row>*:nth-child(4) {
	animation-delay: 0.3s;
}
.row>*:nth-child(5) {
	animation-delay: 0.4s;
}
.row>*:nth-child(6) {
	animation-delay: 0.5s;
}
.row>*:nth-child(7) {
	animation-delay: 0.6s;
}
.row>*:nth-child(8) {
	animation-delay: 0.65s;
}
.row>*:nth-child(9) {
	animation-delay: 0.7s;
}
.row>*:nth-child(10) {
	animation-delay: 0.75s;
}
.row>*:nth-child(11) {
	animation-delay: 0.8s;
}
.row>*:nth-child(12) {
	animation-delay: 0.85s;
}

.largecard, .smallcard {
	opacity: 0;

	-moz-transition: box-shadow .25s;
	-o-transition: box-shadow .25s;
	-webkit-transition: box-shadow .25s;
	transition: box-shadow .25s;

	animation-name: fadeIn;
	animation-duration: .3s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

.largecard {
	width: 100%;
	height: 250px;
	background-color: #FFF;
	cursor: pointer;

	animation-name: fadeScaleIn;
	transform: scale(0.5);
}

.smallcard {
	height: 200px;
	width: 150px;
	min-width: 150px;
	background-color: #FFF;
	cursor: pointer;
	margin: 1em;
	border-radius: 0.25em;
	box-shadow: 0 0.15em 0.4em rgba(0, 0, 0, 0.2);
}

.smallcard>img {
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	right: 0.5em;
	width: calc(100% - 3em);
	padding: 1em;
}

.info {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1em 2em;
	margin: 0;
	border-bottom-left-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
}

.largecard>.info {
	text-align: center;
}

.smallcard>.info {
	background-color: #FFF;
}

.category {
	padding: 0 2em;
	color: black;
}

.category>*:nth-child(1) {
	color: inherit !important;
	width: 200px;
}

.category>*:nth-child(1) * {
	color: inherit !important;
	margin: 0;
	margin-top: 0.2em;
}

@media(min-width: 600px) {
	.indented {
		display: block;
		margin: 0 1em;
		margin-top: 1.25em;
	}

	.row {
		padding: 0 1em;
	}

	.category {
		padding: 0 2em;
	}

	.largecard {
		width: 512px;
		height: 250px;
		margin: 1em;
		border-radius: 0.25em;
		box-shadow: 0 0.2em 0.6em rgba(0, 0, 0, 0.2);
	}

	.largecard:hover, .smallcard:hover {
		box-shadow: 0 0.35em 0.8em rgba(0, 0, 0, 0.3);
	}
}
