* {
	font-family: 'Open Sans', sans-serif;
	color: black;
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeScaleIn {
	from {
		opacity: 0;
		transform: scale(0.5);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes slideDownIn {
	from {
		opacity: 0;
		transform: translateY(-50%);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

body {
	height: 100vh;
	width: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	background-color: #FFF;
	opacity: 0;

	animation-name: fadeIn;
	animation-duration: .5s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	animation-delay: .1s;
}

header {
	position: relative;
	padding: 0.4em 2em;
	height: 5em;
	background-color: rgba(255, 255, 255, 0.5);
}

nav>span {
	display: inline-block;
	padding: 0 0.6em;
	font-weight: bold;
	cursor: pointer;
	user-select: none;

	-moz-transition: color .25s;
	-o-transition: color .25s;
	-webkit-transition: color .25s;
	transition: color .25s;
}

nav>span:hover {
	color: #2A8843;
}

main {
	display: block;
}

img {
	max-width: 100%;
	max-height: 100%;
}

div.header {
	width: 100%;
	max-height: 50vh;
	height: 48vw;
	opacity: 0;
	transform: translateY(-50%);

	animation-name: slideDownIn;
	animation-duration: .3s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

.appinfo {
	transform: translateY(-6em);
	margin-bottom: -6em;
}

.appiconinfo {
	text-align: center;
}

.appiconinfo>* {
	display: block;
	margin: auto;
}

img.appicon {
	width: 8em;
	margin: 1em auto;
	filter: drop-shadow(0 0.2em 0.7em rgba(0, 0, 0, 0.35));
	opacity: 0;
	transform: scale(0.5);

	animation-name: fadeScaleIn;
	animation-duration: .5s;
	animation-timing-function: cubic-bezier(0.18, 0.89, 0.67, 1.76);
	animation-fill-mode: forwards;
	animation-delay: .2s;
}

img.card {
	height: 400px;
	width: auto;
	margin: 1em;
	border-radius: 0.25em;
	box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.37);
	opacity: 0;
	transform: scale(0.5);

	animation-name: fadeScaleIn;
	animation-duration: .3s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

.appnameinfo {
	padding: 2em;
}

h1.appname {
	margin: 0;
	margin-bottom: 0.5em;
}

.appdesc {
	padding: 1em 2em;
	margin-bottom: 2em;
}

button {
	background-color: transparent;
	border-radius: 0.25em;
	padding: 0.4em 0.8em;
	font-size: 0.9em;
	cursor: pointer;
	user-select: none;

	-moz-transition: color .25s, background-color .25s, border .25s, filter .25s;
	-o-transition: color .25s, background-color .25s, border .25s, filter .25s;
	-webkit-transition: color .25s, background-color .25s, border .25s, filter .25s;
	transition: color .25s, background-color .25s, border .25s, filter .25s;
}

button.outline {
	border: 1px solid currentColor;
}

a {
	color: #2962FF;
	text-decoration: none;
	cursor: pointer;
}

p > a {
	text-decoration: underline;
}

small {
	font-size: 0.7em;
}

h1.indented {
	display: none;
}

div.indented {
	padding: 0 2em;
}

.dropdown {
	position: relative;
}

.dropdown > .content {
	display: none;
	position: absolute;
	background-color: #FFF;
	left: -1px;
	right: -1px;
	border: 1px solid #000;
	border-radius: 0.25em;
}

.dropdown > .content > * {
	padding: 0.4em 0.8em;
	display: block;
	text-align: center;

	-moz-transition: color .25s, background-color .25s, border .25s, filter .25s;
	-o-transition: color .25s, background-color .25s, border .25s, filter .25s;
	-webkit-transition: color .25s, background-color .25s, border .25s, filter .25s;
	transition: color .25s, background-color .25s, border .25s, filter .25s;
}

.dropdown:hover > .content {
	display: block;
}

.inner-shadow {
	box-shadow: inset 0 0.1em 0.3em rgba(0, 0, 0, 0.37);
	background-color: #F5F5F5;
	margin-top: 1em;
}

.review > .reviewinfo {
	display: flex !important;
	align-items: center;
	height: 3em;
	cursor: pointer;
}

.review > .reviewinfo > img {
	position: absolute;
	width: 3em;
	height: 3em;
	border-radius: 1.5em;
	border: 1px solid #000;
}

.review > .reviewinfo > div {
	position: absolute;
	right: 0;
	left: 4em;
}

.row {
	overflow: hidden;
	white-space: nowrap;
}

.grid {
	white-space: pre-wrap;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 2em;
	margin-left: -2em;
	margin-right: -2em;
}

.grid > * {
	width: 100%;
	margin: 1em 2em;
}

.overflow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #FFF;
}

.category > .overflow {
	margin: 0 -2em;
}

.row>* {
	display: inline-block;
	position: relative;
}

.row:not(.overflow)>*:nth-child(2) {
	animation-delay: 0.1s;
}
.row:not(.overflow)>*:nth-child(3) {
	animation-delay: 0.2s;
}
.row:not(.overflow)>*:nth-child(4) {
	animation-delay: 0.3s;
}
.row:not(.overflow)>*:nth-child(5) {
	animation-delay: 0.4s;
}
.row:not(.overflow)>*:nth-child(6) {
	animation-delay: 0.45s;
}
.row:not(.overflow)>*:nth-child(7) {
	animation-delay: 0.5s;
}
.row:not(.overflow)>*:nth-child(8) {
	animation-delay: 0.55s;
}
.row:not(.overflow)>*:nth-child(9) {
	animation-delay: 0.6s;
}
.row:not(.overflow)>*:nth-child(10) {
	animation-delay: 0.65s;
}
.row:not(.overflow)>*:nth-child(11) {
	animation-delay: 0.7s;
}
.row:not(.overflow)>*:nth-child(12) {
	animation-delay: 0.75s;
}

.chip {
	height: 2.5em;
	padding: 0 1em;
	line-height: 2.5em;
	border-radius: 1.25em;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.1);
	font-weight: bold;
	color: rgba(0, 0, 0, 0.5);
	margin: 0.5em 0;
	margin-right: 1em;
	cursor: pointer;

	-moz-transition: background-color .25s;
	-o-transition: background-color .25s;
	-webkit-transition: background-color .25s;
	transition: background-color .25s;
}

.largecard, .smallcard, .tinycard {
	opacity: 0;
	background-color: #FFF;
	cursor: pointer;

	-moz-transition: box-shadow .25s;
	-o-transition: box-shadow .25s;
	-webkit-transition: box-shadow .25s;
	transition: box-shadow .25s;

	animation-name: fadeIn;
	animation-duration: .3s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

.smallcard, .tinycard {
	margin: 1em;
}

.largecard {
	width: 100%;
	height: 250px;

	animation-name: fadeScaleIn;
	transform: scale(0.5);
}

.smallcard {
	height: 200px;
	width: 150px;
	min-width: 150px;
	border-radius: 0.25em;
	box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.37);
}

.tinycard {
	height: 70px;
	width: 100%;
	min-width: 200px;
	background-color: transparent;
	margin: 0 1em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.tinycard>img {
	position: absolute;
	height: calc(70px - 2em);
	top: 0;
	left: 0;
	right: 0;
	padding: 1em;
}

.smallcard>img {
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	right: 0.5em;
	width: calc(100% - 3em);
	padding: 1em;
}

.info {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1em;
	margin: 0;
	border-bottom-left-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
}

.largecard>.info {
	text-align: center;
}

.smallcard>.info {
	background-color: #FFF;
}

.tinycard>.info {
	left: calc(70px - 1em);
}

.category {
	padding: 1px 2em;
	color: black;
}

.row>.rowinfo {
	color: inherit !important;
	max-width: 300px;
	margin-right: 1em;
}

.category>.rowinfo {
	width: 300px;
}

.row>.rowinfo * {
	color: inherit !important;
	margin: 0;
	margin-top: 0.2em;
	margin-right: 1em;
	white-space: pre-wrap;
}

.appinfo ~ .row,
.appinfo ~ div>.row,
.appinfo ~ .carousel > .slick-list {
	padding: 0 2em;
}
@media(min-width: 600px) {
	button:hover {
		background-color: rgba(0, 0, 0, 0.1);
	}

	.dropdown > .content > *:hover {
		background-color: rgba(0, 0, 0, 0.1);
	}

	h1.indented {
		display: block;
		margin: 0 1em;
		margin-top: 1.25em;
	}

	.grid > * {
		width: calc(50% - 4em);
	}

	.row {
		padding: 0 1em;
	}

	.overflow {
		background-color: transparent;
	}

	.category {
		padding: 0.5em 2em;
	}

	.chip:hover {
		background-color: rgba(0, 0, 0, 0.2);
	}

	.largecard {
		width: calc(15% + 200px);
		height: 250px;
		margin: 1em;
		border-radius: 0.25em;
		box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.37);
	}

	.largecard:hover, .smallcard:hover, .tinycard:hover {
		box-shadow: 0 0.4em 1.2em rgba(0, 0, 0, 0.3);
	}

	.tinycard {
		width: 200px;
		border: none;
		border-radius: 0.25em;
		box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.37);
		background-color: #FFF;
		margin: 1em;
	}
}

@media (min-width: 800px) {
	.appinfo {
		display: flex;
		margin-bottom: -3em;
	}

	.review {
		width: calc(33% - 4em);
	}

	.appiconinfo {
		display: inline-block;
		padding-left: 4em;
	}

	img.appicon {
		margin: 1em 0;
	}

	.appnameinfo {
		display: inline-block;
		padding: 0 2em;
		transform: translateY(7em);
	}

	.appinfo ~ h1.indented {
		margin-left: 2em;
		margin-right: 2em;
	}

	.appinfo ~ .row,
	.appinfo ~ div>.row,
	.appinfo ~ .carousel > .slick-list {
		padding: 0 4em;
	}

	.appdesc {
		padding: 1em 4em;
		margin-bottom: 2em;
	}
}

@media (min-width: 1400px) {
	.grid > * {
		width: calc(25% - 4em);
	}
}
